<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cm.sys.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.cm.sys.entity.SysUser">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="account_name" property="accountName" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="head_url" property="headUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="wechat" property="wechat" jdbcType="VARCHAR"/>
        <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR"/>
        <result column="login_language" property="loginLanguage" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="createUser" parameterType="com.cm.sys.entity.SysUser" useGeneratedKeys="true"
            keyProperty="id">
		insert into cm_system_user(
		id,
		user_name,
		account_name,
		password,
		description,
		create_time,
		phone,
		delete_flag,
		email,
		address,
		update_time,
		head_url,
		status,
		wechat,
		mobile_phone
		)values(
		#{id},
		#{userName},
		#{accountName},
		#{password},
		#{description},
		#{createTime},
		#{phone},
		#{deleteFlag},
		#{email},
		#{address},
		#{updateTime},
		#{headUrl},
		#{status},
		#{wechat},
		#{mobilePhone}
		)
	</insert>

    <update id="updateUser" parameterType="com.cm.sys.entity.SysUser">
        update cm_system_user
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="accountName != null and accountName != ''">
                account_name = #{accountName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>

            <if test="headUrl != null and headUrl != ''">
                head_url = #{headUrl},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="wechat != null and wechat != ''">
                wechat = #{wechat},
            </if>
            <if test="loginLanguage != null and loginLanguage != ''">
                login_language = #{loginLanguage},
            </if>
            <if test="mobilePhone != null and mobilePhone != ''">
                mobile_phone = #{mobilePhone}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteUserById" parameterType="com.cm.sys.entity.SysUser">
		delete from cm_system_user where id = #{id}
	</delete>

    <sql id="query">
        select * from cm_system_user where 1=1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="accountName != null and accountName != ''">
                and account_name = #{accountName}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
            <if test="keywords != null and keywords != ''">
                and ( account_name like
                concat(concat('%',#{keywords}),'%')
                or    email like
                concat(concat('%',#{keywords}),'%') )
            </if>
    </sql>

    <select id="selectUserByQuery" resultMap="BaseResultMap" parameterType="com.cm.sys.query.SysUserQuery">
        <include refid="query"/>
    </select>

    <select id="selectUserCountQuery" resultType="int" parameterType="com.cm.sys.query.SysUserQuery">
        select count(0)
        from (
        <include refid="query"/>
        ) as nu
    </select>
</mapper>